/**
Aqui vai configurações globais, como html, cor de link, img, enfim
 */
body, button, input, select, textarea{
  font-family: $quick-sand;
  overflow-x: hidden;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.columns > .column:first-child {
  padding-left: 0 !important;
}
.columns > .column:last-child {
  padding-right: 0 !important;
}

.is-marginless {
  margin: 0;
}
