/**
Aqui vai configurações globais, como html, cor de link, img, enfim
 */
body, button, input, select, textarea{
  font-family: $quick-sand;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.is-marginless {
  margin: 0;
}

.is-paddingless-left {
  padding-left: 0;
}

.container.is-fullhd {
  padding: 5px;
}

.is-space-around {
  justify-content: space-around;
}

.is-space-between {
  justify-content: space-between;
}

.select select:focus,
.select select.is-focused,
.select select:active,
.select select.is-active,
.select:not(.is-multiple):not(.is-loading)::after{
  border-color: $color-dark-gray !important;
}

.control.has-icons-left .input:focus ~ .icon,
.control.has-icons-left .select:focus ~ .icon,
.control.has-icons-right .input:focus ~ .icon,
.control.has-icons-right .select:focus ~ .icon {
  color: $color-dark-gray !important;
}

.is-flex-column {
  flex-direction: column;
}

.is-active {
  a {
    color: $color-fuchsia !important;
  }
}