.descontos {
  flex-direction: row;
  justify-content: space-around;
  @media (max-width: 420px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column {
    max-width: 200px;
    min-height: 130px;
    border-radius: 50%;
    margin-top: -10px;
    z-index: 1;
    flex: none;
    background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
    border: 2px solid $branco;
    margin-bottom: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    @media (max-width: 420px) {
      width: 100%;
    }
    &:hover {
      cursor: pointer;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    img {
      border-radius: $radius-4;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .desconto_desc {
      bottom: 0;
      width: 100%;
      height: 30px;
      margin-top: -6px;
      background-color: $branco;
      border-radius: $radius-4;
      border: 1px solid $color-french;
      color: $color-french;
      font-weight: bold;
    }
  }
}
.promocoes, .sugestoes {
  background-color: #ececec;
  padding: 15px 0;
  .promocoes_desc, .sugestoes_desc {
    span {
      font-size: 28px;
      color: $color-dark-gray;
    }
  }
  .promocoes_img, .sugestoes_img {
    @media (max-width: 768px) {
      width: unset;
    }
    img {
      border-radius: $radius-4;
      border: 1px solid $color-french;
    }
  }
}
.produtos_ate {
  padding: 25px 0;
  flex-direction: row;
  justify-content: space-around;
  @media (max-width: 420px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column {
    @media (max-width: 420px) {
      width: 100%;
    }
  }
  .produtos_ate_box {
    max-width: 230px;
    padding: 5px 0;
    border-radius: $radius-4;
    background-size: cover;
    background-image: url('/static/images/background-produtos.jpg');
    margin: auto;
    border: 1px solid $color-light-gray;
    color: $color-dark-gray;
    &:hover {
      cursor: pointer;
    }
    .produtos_ate_box_desc {
      font-size: 20px;
      background-color: $branco;
      padding: 3px;
      border-radius: $radius-4;
      opacity: .8;
      font-weight: bold;
    }
    p {
      background-color: $branco;
      padding: 3px;
      border-radius: $radius-4;
      opacity: .8;
      width: 60px;
      margin: auto;
    }
    b {
      font-size: 28px;
      background-color: $branco;
      padding: 3px;
      border-radius: $radius-4;
      opacity: .8;
    }
  }
}
.marcas {
  .owl-stage {
    display: flex;
    align-items: center;
  }
  .column {
    width: 120px;
    margin: auto;
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
}
.lancamento {
  .lancamento_titulo {
    font-size: 30px;
    color: $color-dark-gray;
    font-weight: bold;
    padding-bottom: 35px;
  }
  .lancamento_desc {
    h2 {
      color: $color-dark-gray;
      font-size: 24px;
    }
    span {
      color: $color-light-gray;
    }
    .lancamento_desc_caracteristicas {
      padding-top: 25px;
      .column {
        display: flex;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        i {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          padding: 5px;
          border-radius: $radius-4;
          min-width: 50px;
          max-height: 50px;
          color: $branco;
          background-color: $color-dark-gray;
        }
        &:hover i {
          background-color: $color-french;
        }
        &:hover .lancamento_desc_caracteristicas_texto {
          color: $color-french;
        }
        &:hover {
          cursor: default;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
      .lancamento_desc_caracteristicas_texto {
        color: $color-dark-gray;
        padding-left: 5px;
      }
    }
    .lancamento_desc_acoes {
      height: 80px;
      align-items: center;
      padding-top: 10px;
      .lancamento_desc_acoes_preco {
        font-size: 28px;
        color: $color-dark-gray;
        p {
          font-size: 16px;
          text-align: center;
        }
      }
      .lancamento_desc_acoes_botao {
        .button {
          background-color: $color-fuchsia;
          color: $branco;
          border: none;
          font-size: 22px;
        }
      }
    }
  }
}