.pagina_produto  {
  hr {
    margin: 10px 0;
    background-color: #e1e1e1;
  }
  .produto {
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
    .produto_imagem {
      @media (max-width: 900px) {
        width: 100%;
      }
      .produto_imagem_miniaturas {
        display: flex;
        flex-direction: column;
        @media (max-width: 900px) {
          display: none;
        }
        .imagem {
          width: 120px;
          border: 1px solid $color-french;
          border-radius: $radius-4;
          margin-top: 5px;
        }
        .active {
          border: 2px solid $color-french;
        }
      }
      .produto_imagem_principal {
        .produto_imagem_principal_dots {
          padding-bottom: 15px;
          color: $color-light-gray;
          @media (min-width: 901px) {
            display: none;
          }
          .active {
            color: $color-fuchsia;
          }
        }
        .imagem.principal {
          @media screen and (min-width: 600px) and (max-width: 900px) {
            width: 55%;
          }
          @media screen and (max-width: 599px) {
            width: 65%;
          }
        }
        .button {
          background-color: $color-light-gray;
          color: $branco;
          font-size: 13px;
          &:hover {
            background-color: $color-dark-gray;
          }
          i {
            padding-right: 5px;
          }
        }
      }
    }
    .produto_desc {
      @media (max-width: 900px) {
        width: 100%;
      }
      .produto_desc_titulo {
        justify-content: space-between;
        align-items: baseline;
        h1 {
          font-size: 34px;
          color: $color-dark-gray;
          @media (max-width: 465px) {
            font-size: 20px;
            font-weight: bold;
          }
          @media screen and (min-width: 769px) and (max-width: 904px) {
            font-size: 28px;
          }
        }
        .produto_desc_titulo_avaliacao {
          color: yellow;
          font-size: 12px;
          @media screen and (min-width: 769px) and (max-width: 904px) {
            font-size: 10px;
          }
          :last-child {
            color: $color-light-gray;
          }
        }
      }
      hr {
        margin: 10px 0;
        background-color: #e1e1e1;
      }
      .produto_desc_preco {
        .produto_desc_preco_antigo {
          color: #b5b5b5;
        }
        .produto_desc_preco_porcentagem {
          background-color: #11C319;
          color: white;
          padding: 7px;
          border-radius: 4px;
        }
        .produto_desc_preco_atual_boleto {
          color: $color-light-gray;
          padding-bottom: 25px;
          span {
            font-size: 32px;
            color: $verde;
          }
          i {
            font-size: 20px;
          }
        }
        .produto_desc_preco_atual_cartao_prazo {
          color: $color-light-gray;
          span {
            font-size: 20px;
            color: $color-french;
          }
        }
        .produto_desc_preco_atual_cartao_prazo_uma {
          color: $color-light-gray;
          span {
            font-size: 16px;
            color: $color-french;
          }
          a {
            text-decoration: underline;
            color: $color-french;
            font-size: 14px;
          }
        }
      }
      .produto_desc_acoes {
        flex-wrap: wrap;
        @media (max-width: 400px) {
          justify-content: center;
        }
        div {
          @media (max-width: 900px) {
            &:first-child.is-flex {
              width: 50%;
            }
          }
        }
        .produto_desc_acoes_cor {
          color: $color-dark-gray;
          div {
            width: 50px;
            height: 35px;
            background-color: #26252b;
            border-radius: $radius-4;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .produto_desc_acoes_qtd {
          z-index: 0;
          padding-left: 30px;
          color: $color-dark-gray;
        }
        .produto_desc_acoes_comprar {
          @media (max-width: 400px) {
            padding-top: 20px;
          }
          .button {
            font-size: 25px;
            background-color: $verde;
            color: $branco;
            i {
              padding-right: 5px;
            }
          }
        }
        .produto_desc_acoes_frete {
          z-index: 0;
          @media (max-width: 400px) {
            padding-top: 30px;
          }
          margin-top: -20px;
        }
        .produto_desc_acoes_comprar_clique {
          text-align: right;
          .button {
            width: 176px;
            font-size: 14px;
            background-color: $color-light-gray;
            color: $branco;
            &:hover {
              background-color: $color-dark-gray;
            }
          }
        }
      }
    }
  }
  .compre_junto {
    h1 {
      padding-top: 15px;
      font-size: 24px;
      color: #3a3a59;
    }
    .kit {
      padding: 20px 0;
      @media (max-width: 890px) {
        flex-wrap: wrap;
      }
      i {
        font-size: 34px;
        color: $color-french;
      }
      .kit_produto {
        &:hover {

        }
        .kit_produto_image {
          .image {
            max-width: 150px;
            margin: auto;
          }
        }
        .kit_produto_desc {
          color: $color-dark-gray;
          .nome {
            min-height: 50px;
          }
          .preco-antigo {
            font-size: 14px;
            color: #999;
          }
          .preco-real {
            font-size: 26px;
          }
        }
        .kit_produto_acoes {
          .button {
            background-color: $verde;
            color: $branco;
            font-size: 20px;
          }
          p {
            &:nth-child(1) {
              color: $color-dark-gray;
              font-size: 20px;
            }
            &:nth-child(2) {
               color: #acacac;
               font-size: 14px;
            }
            &:nth-child(3) {
              color: $color-french;
              font-size: 30px;
            }
            &:nth-child(4) {
              color: $color-dark-gray;
              font-size: 20px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .detalhes {
    .accordions {
      h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: $color-dark-gray;
      }
      .accordion.is-active {
        .accordion-body {
          max-height: 100%;
        }
      }
      .accordion {
        .accordion-content {
          @media (max-width: 530px) {
            padding-top: 10px;
            padding-left: 0;
            padding-right: 0;
          }
        }
        &:last-child .accordion-header {
          border-bottom-left-radius: $radius-4;
          border-bottom-right-radius: $radius-4;
        }
        .accordion-header {
          background-color: $color-dark-gray;
          p {
            padding-left: 10px;
          }
          i {
            color: $branco;
            font-size: 20px;
          }
          .toggle {
            background-color: transparent;
            &:before {
              font-size: 28px;
              font-weight: bold;
              top: -10px;
            }
          }
        }
      }
      .descricao {
        .accordion-content {
          padding: 1em 0;
          p {
            text-align: left;
            color: $color-light-gray;
            padding: 10px 10px;
          }
        }
      }
      .specs {
        .spec_item {
          &:not(:first-child) {
            padding-top: 20px;
          }
          hr {
            width: 15%;
          }
          b {
            color: $color-dark-gray;
          }
          .spec_linha {
            display: flex;
            padding: 5px;
            color: $color-dark-gray;
            .spec_primeira {
              display: table-cell;
              width: 30%;
            }
            .spec_segunda {
              display: table-cell;
              width: 70%;
            }
          }
          .zebrado {
            background-color: #e2e2e2;
            border-radius: $radius-4;
          }
        }
      }
      .avaliacoes {
        .avaliacoes_estrelas {
          .avaliacoes_estrelas_excelente {
            display: flex;
            align-items: center;
            span {
              padding: 0 5px;
              color: $color-dark-gray;
            }
            .estrela {
              color: $color-light-gray;
              float: left;
              i {
                font-size: 12px;
                @media (max-width: 395px) {
                  font-size: 10px;
                }
              }
              .amarela {
                color: yellow;
              }
            }
            .desc {
              width: 22%;
              @media (max-width: 395px) {
                font-size: 12px;
              }
            }
            .barra {
              width: 35%;
              height: 15px;
              background-color: #ccc;
              border-radius: $radius-4;
              margin-top: 2px;
              .barra_progresso {
                width: 90%;
                height: 15px;
                float: left;
                border-radius: $radius-4;
                background-color: $verde;
              }
            }
            .numero {
              float: left;
            }
          }
          .avaliacoes_estrelas_otimo {
            display: flex;
            align-items: center;
            span {
              padding: 0 5px;
              color: $color-dark-gray;
            }
            .estrela {
              color: $color-light-gray;
              float: left;
              i {
                font-size: 12px;
                @media (max-width: 395px) {
                  font-size: 10px;
                }
              }
              .amarela {
                color: yellow;
              }
            }
            .desc {
              width: 22%;
              @media (max-width: 395px) {
                font-size: 12px;
              }
            }
            .barra {
              width: 35%;
              height: 15px;
              background-color: #ccc;
              border-radius: $radius-4;
              margin-top: 2px;
              .barra_progresso {
                width: 80%;
                height: 15px;
                float: left;
                border-radius: $radius-4;
                background-color: $verde;
              }
            }
            .numero {
              float: left;
            }
          }
          .avaliacoes_estrelas_bom {
            display: flex;
            align-items: center;
            span {
              padding: 0 5px;
              color: $color-dark-gray;
            }
            .estrela {
              color: $color-light-gray;
              float: left;
              i {
                font-size: 12px;
                @media (max-width: 395px) {
                  font-size: 10px;
                }
              }
              .amarela {
                color: yellow;
              }
            }
            .desc {
              width: 22%;
              @media (max-width: 395px) {
                font-size: 12px;
              }
            }
            .barra {
              width: 35%;
              height: 15px;
              background-color: #ccc;
              border-radius: $radius-4;
              margin-top: 2px;
              .barra_progresso {
                width: 55%;
                height: 15px;
                float: left;
                border-radius: $radius-4;
                background-color: $verde;
              }
            }
            .numero {
              float: left;
            }
          }
          .avaliacoes_estrelas_regular {
            display: flex;
            align-items: center;
            span {
              padding: 0 5px;
              color: $color-dark-gray;
            }
            .estrela {
              color: $color-light-gray;
              float: left;
              i {
                font-size: 12px;
                @media (max-width: 395px) {
                  font-size: 10px;
                }
              }
              .amarela {
                color: yellow;
              }
            }
            .desc {
              width: 22%;
              @media (max-width: 395px) {
                font-size: 12px;
              }
            }
            .barra {
              width: 35%;
              height: 15px;
              background-color: #ccc;
              border-radius: $radius-4;
              margin-top: 2px;
              .barra_progresso {
                width: 17%;
                height: 15px;
                float: left;
                border-radius: $radius-4;
                background-color: $verde;
              }
            }
            .numero {
              float: left;
            }
          }
          .avaliacoes_estrelas_ruim {
            display: flex;
            align-items: center;
            span {
              padding: 0 5px;
              color: $color-dark-gray;
            }
            .estrela {
              color: $color-light-gray;
              float: left;
              i {
                font-size: 12px;
                @media (max-width: 395px) {
                  font-size: 10px;
                }
              }
              .amarela {
                color: yellow;
              }
            }
            .desc {
              width: 22%;
              @media (max-width: 395px) {
                font-size: 12px;
              }
            }
            .barra {
              width: 35%;
              height: 15px;
              background-color: #ccc;
              border-radius: $radius-4;
              margin-top: 2px;
              .barra_progresso {
                width: 2%;
                height: 15px;
                float: left;
                border-radius: $radius-4;
                background-color: $verde;
              }
            }
            .numero {
              float: left;
            }
          }

        }
        .avaliacoes_nota {
          p, button {
            color: $color-dark-gray;
          }
          .primeiro {
            font-size: 18px;
          }
          .segundo {
            font-size: 13px;
            color: #9c9c9c;
          }
          .button {
            background-color: $color-light-gray;
            color: $branco;
            &:hover {
              background-color: $color-dark-gray;
            }

          }
        }
      }
      .comentarios {
        .comentarios_nome {
          p {
            color: $color-dark-gray;
          }
          .nome {
            font-size: 16px;
            font-weight: bold;
          }
          .data, .cidade {
            font-size: 14px;
            color: $color-light-gray;
          }
        }
        .comentarios_comentario {
          .comentario_produto {
            .avaliacao_produto {
              font-size: 12px;
              color: #9c9c9c;
            }
            b {
              color: $color-dark-gray;
              font-size: 18px;
            }
            .estrelas_produto {
              color: yellow;
              font-size: 14px;
            }
            p {
              color: $color-dark-gray;
            }
          }
          .comentario_loja {
            padding-top: 15px;
            .avaliacao_loja {
              font-size: 12px;
              color: #9c9c9c;
            }
            b {
              color: $color-dark-gray;
              font-size: 18px;
            }
            .estrelas_loja {
              color: yellow;
              font-size: 14px;
            }
            p {
              color: $color-dark-gray;
            }
          }
          .comentario_proecontra {
            padding-top: 10px;
            .column {
              padding-left: 0;
            }
            .pro {
              color: $color-dark-gray;
              font-size: 14px;
              b {
                font-size: 16px;
                color: $verde;
              }
            }
            .contra {
              color: $color-dark-gray;
              font-size: 14px;
              b {
                font-size: 16px;
                color: red;
              }
            }
          }
        }
      }
      .caixa {
        li {
          color: $color-dark-gray;
          line-height: 34px;
        }
      }
      .compra_tambem {
        .compra_tambem_produto {
          &:hover {

          }
          @media (max-width: 420px) {
            width: 100%;
          }
          .compra_tambem_produto_image {
            .image {
              max-width: 150px;
              margin: auto;
            }
          }
          .compra_tambem_produto_desc {
            color: $color-dark-gray;
            .nome {
              min-height: 75px;
            }
            .preco-antigo {
              font-size: 14px;
              color: #999;
            }
            .preco-real {
              font-size: 26px;
            }
            .button {
              width: 90%;
              background-color: $color-french;
              color: $branco;
            }
          }
        }
      }
    }
  }
  .modal {
    .modal-content, .modal-card {
      overflow-x: hidden;
      margin: 1px;
      padding: 20px;
      @media (max-width: 490px) {
        padding: 0;
      }
      @media (max-width: 768px) {
        overflow-y: hidden;
        height: 100%;
      }
      .modal-card-title {
        @media (max-width: 490px) {
          font-size: 16px;
        }
        color: $color-dark-gray;
      }
      .columns {
        color: $color-dark-gray;
        &:not(:last-child) {
          margin-bottom: 0;
        }
        @media (max-width: 768px) {
          text-align: center;
        }
        p, img {
          padding-top: 10px;
        }
        hr {
          width: 60%;
          @media (max-width: 768px) {
            margin: auto;
          }
        }
        .foto {
          img {
            @media (max-width: 768px) {
              width: 160px;
            }
          }
        }
      }
      .modal-card-foot {
        justify-content: flex-end;
        flex-wrap: wrap;
        .continuar {
          @media (max-width: 476px) {
            margin-bottom: 10px;
            padding-bottom: 10px;
          }
          color: $color-dark-gray;
        }
      }
    }
  }
}
