@import url('https://fonts.googleapis.com/css?family=Quicksand');

/**
* Cores
*/
$color-fuchsia: #db3b61;
$color-french: #ef3f61;
$color-dark-gray: #3a3a59;
$color-light-gray: #555574;

/**
* Breakpoints
*/

/**
* Fontes
*/
h1 {
  font-family: 'Quicksand', sans-serif;
}
